default_config:

logger:
  default: info
  logs:
    custom_components.magic_lights: debug

# If you need to debug uncommment the line below (doc: https://www.home-assistant.io/integrations/debugpy/)
# debugpy:

magic_lights:
  bedroom:
    entities:
      - light.entity_id

    groups:
      main_lights:
        - light.entity_id

    scenes:
      bright:
        - entities:
            - light.entity_id
          effect:
            name: static
            conf:
              - preset: bright
              - rgb: [255, 0, 0]
              - kelvin: 2700k

          modifiers:
            - name: brightness
              conf:
                - brightness_level: 255
              min_update_interval: 30
            - name: fade_in
              conf:
                - delay: 30s